.sidebar {
    display: flex;
    left: 0;
    top: 0;
    // padding-top: 40px;
    div {
        cursor: pointer;
        padding: 8px;
        font-size: 24px;
        display: block;
    }
    .item-active {
        color: red;
    }
}