.grid {
    line {
        stroke: lightgrey;
        stroke-opacity: 0.4;
        shape-rendering: crispEdges;
    }
    path {
        stroke: lightgrey;
        stroke-opacity: 0.5;
    }
}

.axis {
    font-size: 20px;
}